.contato-container {
    margin-top: 10rem;
    text-align: center;
    background-color: rgba(32, 201, 151, 15%);
    padding: 3.5rem;
    font-family: var(--fonte-secundaria);
}

.contato-container__titulo {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-transform: u;
}

.contato-container__subtitulo {
    font-size: 2.5rem;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
}

.contato-container__nome {
    font-size: 1.5rem;
    font-style: italic;
    color: #777b7e;
    font-weight: 500;
}

.contato-formulario {
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-family: var(--fonte-principal);
}

.contato-input__titulo {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.contato-input__lista {
    display: flex;
    justify-content: space-between;
}
.contato-input__link {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-family: var(--fonte-principal);
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 1rem;
}

#nome, #email {
    padding: 1.5rem 5rem;
}
    
#mensagem {
    padding: 3rem 15.8rem;
    margin-top: 0.2rem;
    font-family: var(--fonte-principal);
}

#enviar {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 0.6rem 4rem;
    background: transparent;
    border-color: red;
    transition: 0.5s;
}

#enviar:hover {
    cursor: pointer;
    background: red;
    color: white;
}

@media screen and (max-width: 440px) {
    .contato-formulario {
        display: block;
    }

    .contato-social {
        margin-bottom: 4rem;
        margin-left: 1.5rem;
    }

    .contato-input__titulo {
        font-size: 2rem;
    }

    .contato-input__lista {
        display: flex;
        justify-content: space-around;
        margin-right: 1.5rem;
    }

    .contato-input__link {
        font-size: 1rem;
       
    }

    .contato-input {
        margin-left: 1.5rem;
    }

    #mensagem {
        padding: 4.6rem;
        width: 50%;
    }

    #enviar {
        padding-left: 2rem;
    }
}
