.espaço-container {
    margin-top: 10rem;
    font-family: var(--fonte-principal);
    text-align: center;
}

.espaço-container__titulo {
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5rem;
    
}

.espaço-container__imagem {
    width: 19rem;
    padding-right: 2rem;
}

.espaço-container__imagens {
    display: flex;
    justify-content: center;
    margin-left: 1.9rem;
}

@media screen and (max-width: 440px) {
    .espaço-container__imagens {
        display: block;
    }

    .espaço-container__imagem {
        padding-bottom: 1rem;
    }
}