.container-imagens--dois {
    float: right;
    margin-right: 7rem;
    margin-top: 4rem;
}

.container-imagens--um {
    display: inline-block;
    margin-left: 7rem;
    margin-top: 4rem;
    width: 40%;
}

.container-imagem__um {
    padding-bottom: 2rem;
    width: 100%;
}

.container__imagem__dois {
    width: 95%;
}

@media screen and (max-width: 440px) {
    .container-imagens--um {
        display: flex;
        flex-direction: column;
        width: 92%;
        margin: 0;
        padding-top: 5rem;
        padding-left: 0.7rem;
    }

    .container-imagens--dois {
        float: none;
        display: block;
        margin: 0 auto;
        width: 95%;
        padding-left: 0.7rem;
    }


}
